/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

/* first exercise */

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}

/* second exercise */

.ex-2-square:active{
  width: 100%;
}

.ex-2-square{
  transition: width 2s;
}

/* third exercise */

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-3-square{
  transition: border-radius 0.5s;
}

/* fourth exercise */

.ex-4-square:hover{
  opacity: 0;
}

.ex-4-square{
  transition: opacity 1s;
}

/* fifth exercise */

.ex-5-square:hover{
  scale: 2;
}

.ex-5-square:active{
  scale: 0.5;
}

.ex-5-square{
  transition: 2s;
}

/* sixth exercise */

.ex-6-img:hover{
  filter: grayscale(1);
}

/* seventh exercise */

.ex-7-img:hover{
  filter: sepia(0.5)
}

.ex-7-img{
  transition: 2s;
}